@charset "utf-8";



@media screen and (max-width: 768px) {

    .topo{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 30px;
        /* background-color: #b78e3b; */
        background-color: #8F7C56;
        /* background-color: #F53B38; */
        /* background-color: #EA1A37; */
        border-bottom: 4px solid #ebb64c;
    
    }

    .reserva{
        margin-top: 10px;
    }

    .links{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
/* 
    ---------------------------------------------- */

    .banner{
        width: 100%;
        height: 347px;
        margin: 0 auto;
    }

    .img_banner{
        height: 100%;
    }



    /* ------------------------------------- */

    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .email{
        text-align: center;
    }

    .icones{
        margin-top: 10px;
    }
    
}